[project]
	description = 1st public to the site
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/William Du (dwy2002)
[access "refs/for/refs/*"]
	read = group user/William Du (dwy2002)
	push = group user/William Du (dwy2002)
	label-Code-Review = -2..+2 group user/William Du (dwy2002)
	label-Verified = -1..+1 group user/William Du (dwy2002)
	rebase = group user/William Du (dwy2002)
	removeReviewer = group user/William Du (dwy2002)
	submit = group user/William Du (dwy2002)
[access "refs/heads/*"]
	read = group user/William Du (dwy2002)
	create = group user/William Du (dwy2002)
	push = +force group user/William Du (dwy2002)
	pushMerge = group user/William Du (dwy2002)
[access "refs/tags/*"]
	push = group user/William Du (dwy2002)
	push = +force group user/William Du (dwy2002)
